<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="ui:main">
		<parameter name="testParam" type="text" required="false">
			<label>Test Parameter</label>
			<description>It's just a test</description>
            <limitToOptions>false</limitToOptions>
			<options>
				<option value="true">Enable</option>
				<option value="false">Disable</option>
			</options>
		</parameter>
		<parameter name="ruleTypeAsScript" type="text" multiple="true" required="false">
			<label>View Rule Type as Script</label>
			<description>Read-only rules can be opened directly in the script editor based on the media type of the action.</description>
			<limitToOptions>false</limitToOptions>
			<options>
				<option value="application/javascript">JavaScript Rule</option>
				<option value="application/ruby">Ruby Rule</option>
				<option value="application/vnd.openhab.dsl.rule">DSL Rule</option>
			</options>
		</parameter>
	</config-description>

</config-description:config-descriptions>
