<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="ui:main">
		<parameter name="ruleTypesAsScript" type="text" multiple="true" required="false">
			<label>View Rule Types as Script</label>
			<description>Configure what types of read-only rules should be opened directly in the script editor, based
			on the media/MIME type of the script action. If you for example want all JavaScript rules to open directly
			in the script editor, specify 'application/javascript'.</description>
			<limitToOptions>false</limitToOptions>
			<options>
				<option value="application/vnd.openhab.dsl.rule">DSL Rule</option>
				<option value="application/x-groovy">Groovy Rule</option>
				<option value="application/javascript">JavaScript Rule</option>
				<option value="application/python">Python Rule</option>
				<option value="application/x-ruby">Ruby Rule</option>
			</options>
		</parameter>
	</config-description>

</config-description:config-descriptions>
